.TweetContainer {
  width: inherit;
}
.TweetContainer .AccountContainer {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  overflow: hidden;
  max-width: 200px;
  border: 2px solid white;
  border-radius: 50%;
}
.TweetContainer .AccountContainer .AccountContent {
  flex: 1;
}

.TweetContainer .TweetCardContainer {
  /* margin: auto; */
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  max-width: 350px;
  height: 600px;
  margin: 7%;
  overflow: hidden;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  padding: 13px;
  box-sizing: border-box;
}

.TweetContainer .TweetCardContainer .CardContent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
}
.TweetContainer .SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
